* {
    box-sizing: border-box;
  }

body{
    height:100%;
    font-family: 'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif;
}

h1{
    text-align: center;
    font-family: 'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif;
}

#countLabel{
    display: block;
    text-align: center;
    font-size: 6rem;
}

#buttonContain{
    text-align: center;
    justify-content: space-between;
}

#cats{
    margin:3vh;
    display:flex;
    flex-wrap: wrap;
    justify-content: center;
    align-items: space-between;
}

p{
    margin: 5px 20px;
    text-align: center;
    font-size: 0.5rem;
}


.btn{
    margin: 5px 20px;
    padding: 5px 10px;
    font-size: clamp(1rem,1.7rem,2rem);
    font-weight: bold;
    width: clamp(60px,130px,200px);
    height:clamp(30px,50px,100px);
    text-align: center;
    background-color:cornflowerblue;
    border-radius: 5px;
    cursor: pointer;
    color: wheat;
    border-color: transparent;
}

.btn:hover{
    background-color: rgb(57, 99, 176);
}
